// Color Variables
$primary-color: #FEC273;
$secondary-color: #0399DB;
$text-color: #000000;
$text-color-dark: #262262;
$text-color-light: #959595;
$body-color: #F5F6F8;
$border-color: #ACB9C4;
$black: #000;
$light: #EFF7FC;
$white: #fff;

// Font Variables
$gotham-book: 'gothambook';
$gotham-medium: 'gothammedium';
$gotham-bold: 'gothambold';